<ul class="list">
  <li class="list-item"><a href="#" class="list-item__link">1</a></li>
  <li class="list-item"><a href="#" class="list-item__link">2</a></li>
  <li class="list-item"><a href="#" class="list-item__link">3</a></li>
  <li class="list-item"><a href="#" class="list-item__link">4</a></li>
  <li class="list-item"><a href="#" class="list-item__link">5</a></li>
  <li class="list-item"><a href="#" class="list-item__link">6</a></li>
  <li class="list-item"><a href="#" class="list-item__link">7</a></li>
  <li class="list-item"><a href="#" class="list-item__link">8</a></li>
  <li class="list-item"><a href="#" class="list-item__link">9</a></li>
  <li class="list-item"><a href="#" class="list-item__link">10</a></li>
</ul>